:root {
    --color-a: #7AB8B6;
    --color-b: #2D4A6B;
    --color-c: #F7F8F9;
    --color-d: #000;
}

body {
    margin: 0;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--color-a);
}

nav {
    background-color: var(--color-b);
    display: flex;
    align-items:center;
    justify-content:space-around;
    height: 3.50rem;
}
nav a {
    color:var(--color-c);
    text-decoration:none; 
}

.content {
    display:flex;
}

h1,h3 {
    color: var(--color-c)
}

h2{
    color:var(--color-b)
}

footer {
    background-color: var(--color-b);
}